<div class="row 150%">
<header class="major">
  <h1>Nuria Rodríguez Ortega: Exhibitions and the Art Market</h1>
</header>

<p>Spanish art historian Juan Antonio Ramírez (1948-2009) defined the artistic culture as an ecosystem of interconnected institutions: Academy (Art History discipline), Art Critique and Theory, Art-Market, Editorial Industries and Museums.<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a> Other authors, using different metaphors and/or argumentations, have addressed the same idea even increasing the number of “institutions” involved, such as collecting and displaying practices.<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a> This approach calls our attention onto the institutional dynamics that shape the development of behaviors, practices and knowledge production processes in the field of artistic cultures, and invite us to explore which are those interconnections and how they evolve. Needless to say that it has been a topic of great interest for the art historian community, and a good number of scholarly texts have undertaken this issue.</p>
<p>The study case proposed in this &quot;provocation&quot; has been conceived as an exercise to look at this issue from other perspective, combining the qualitative questions traditionally addressed in the humanities (which are the cultural/symbolic/social/political values embedded in these interconections and which kind of meaning they produce?) with quantitative parameters based on the potentialities of data processing.</p>
<p>For this study case, only two institutions have been taken into consideration: exhibitions and art-market, although others –such as collecting or art critique- are implicitly involved in the model.</p>
<p>The model is based on the assumption that exhibitions and art market influence each other.<a href="#fn3" class="footnoteRef" id="fnref3"><sup>3</sup></a> Starting from this point, the following questions arise: Is that true? In which sense? How can we shape in a multidimensional way the influences between exhibitions and art-market using quantitative parameters?</p>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Juan Antonio Ramírez, <em>Ecosistema y explosión de las artes</em>, Madrid: Akal, 2004; Ramírez, <em>El sistema del arte en España</em>, Madrid: Cátedra, 2010.<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p>See, among others, Elizabeth Mansfield, <em>Art History and its institutions: foundations of a discipline</em>, New York and London: Routledge, 2002; Mansfield, <em>Making Art History. A changing discipline and its institutions</em>, New York and London: Routledge, 2007.<a href="#fnref2">↩</a></p></li>
<li id="fn3"><p>&quot;influence&quot; is understood here as the capacity of one component/factor/fact etc. to affect other and provoke some changes.<a href="#fnref3">↩</a></p></li>
</ol>
</div>


{% include network.html id="exhibitions" json="assets/exhibitions.json" %}

<blockquote>In this visualization, questions and concepts are clustered by theme (e.g. data about artworks, actors, and events; component questions, and measurement methods). By mousing over one of these elements, you can highlight the subcomponents (in red) of that element, and the parent components (in green) that, in turn, reference that element. A "starting point" is marked at the top of the diagram in capital lettering, however the user is free to navigate from there.
</blockquote>

<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>&quot;influence&quot; is understood here as the capacity of one component/factor/fact etc. to affect other and provoke some changes.<a href="#fnref1">↩</a></p></li>
</ol>
</div>
