<div class="row 150%">
<header class="major">
  <h1>Nuria Rodríguez Ortega: Exhibitions and the Art Market</h1>
</header>



{% include network.html id="exhibitions" json="assets/exhibitions.json" %}

<blockquote>In this visualization, questions and concepts are clustered by theme (e.g. data about artworks, actors, and events; component questions, and measurement methods). By mousing over one of these elements, you can highlight the subcomponents (in red) of that element, and the parent components (in green) that, in turn, reference that element. A "starting point" is marked at the top of the diagram in capital lettering, however the user is free to navigate from there.
</blockquote>
