<div class="row 150%">
<header class="major">
  <h1>Matthew Lincoln: Measuring Tonal Paintings</h1>
</header>

<div class="6u 12u$(medium)">
<p>Why did Dutch painters turn towards more tonal painting in the 1620s? This deceptively simple question has arisen many times in histories of seventeenth-century Dutch painting, addressed purely as a step in stylistic evolution, to a strategic reaction by artists to changing economic supply and demand.<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a></p>
<p>But what <em>is</em> tonal painting, anyway? Restricted palette? Thin paint application? Simple composition? What do we mean by &quot;turn&quot;? How many artworks, or how many artists, in how short a span of time, constitutes a significant shift? One might attempt to quantify palette through image processing or systematic pigment analysis. Yet it might be equally productive to rank hue, composition, and paint application by eye, hewing to a simple number scale. Any of these approaches may be aided or hampered by a lack of measurable evidence.</p>
</div>
<div class="6u$ 12u$(medium) important(medium)">
<figure>
<span class="image fit">
<a href="http://hdl.handle.net/10934/RM0001.COLLECT.430089"><img src="images/claesz.jpg" /></a>
</span>
<figcaption>
<em>Still life with a silver tazza</em>, Willem Claesz. Heda, 1630, oil on panel, 40 x 55.5 cm, Rijksmuseum, Amsterdam.
</figcaption>
</figure>
</div>

{% include network.html id="tonal" json="assets/tonal.json" %}

<p>This visualization suggests the interwoven nature of the components needed to evaluate this question; the interleaved, recursive nature of quantitative assumptions and arguments built into seemingly-qualitative research. No question, not even ones predicated on highly subjective interpretation such as the tracking of intellectual or artistic movements, are independent of a sense of comparative quantity that makes it possible to claim a trend is becoming more or less prevalent. Rather than being seen as opposing, or even as complementary but separate, modes of research No one model - in other words, no one set of assumptions, hypotheses, and evaluative methods - can give a wholly objective answer to this question about tonal painting.</p>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>N. R. A. Vroom, <em>A Modest Message as Intimated by the Painters of the Monochrome Banketje</em>, trans. Peter Gidman (Schiedam: Interbook International, 1980); John Michael Montias, “Cost And Value In Seventeenth-Century Dutch Art,” <em>Art History</em> 10, no. 4 (December 1987): 455; Jonathan Irvine Israel, “Adjusting to Hard Times: Dutch Art During Its Period of Crisis and Restructuring (c. 1621 - C. 1645),” <em>Art History</em> 20, no. 3 (September 1997): 449–76.<a href="#fnref1">↩</a></p></li>
</ol>
</div>
